body {
  background: url('../img/Fondo draco.png');
  background-size: 100% 100%;
}

form {
  background: url('../img/carta 2_1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 6em;
}

label {
  font-family: Arial;
}

#nombreGroup {
  margin-left: 2.5em;
  padding-top: 16em;
}

.inputGroup {
  margin-left: 2.5em;
}

button {
  margin-left: 5em !important;
}

#poster {
  width: 122%;
}

#tintero {
  width: 400%;
}

.imgRS {
  width: 50%;
}

@media only screen and (max-width: 768px) {
  body {
    background-size: 110% 110%;
    background-position: center center;
    background-attachment: fixed;
  }

  form {
    background-size: 100% 100%;
    padding-bottom: 0em;
  }

  #nombreGroup {
    padding-top: 10em;
    margin-left: 1.3em;
  }

  .inputGroup {
    margin-left: 1.3em;
  }

  button {
    margin-left: 2.5em !important;
    width: 40%;
  }

  label{
    font-size: 50%;
  }

  .imgRS {
    width: 6%;
  }

  #poster {
    width: 100%;
  }

  #tintero {
    display: none;
  }
}
